<!DOCTYPE html>
<html ng-app='CounterApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>ng-repeat</title>
  </head>
  <body>
    <h1>The Digest Cycle</h1>
    <div ng-controller='CounterController'>
      <button ng-click="showNumberOfWatchers()">
        Log # of Watchers</button>
      <button ng-click="countOnce()">
        Up once counter (once)</button>
      <button ng-click="upCounter()">
        Up counter (one)</button>
      
      <div>
      Once counter: {{onceCounter}} <br>
      Regular counter: {{counter}}

      <br>
      <input type="text" ng-model="value">
<div>{{ value + '!' }}</div>
<button ng-click="getValue()">Get Value</button>
      </div>
    </div>
  </body>
</html>
